.single {
  padding: 2px 16px;
  background: #fff;
  display: block;
  margin: 20px 10px;
  border-left: 8px solid #fff;
  cursor: pointer;
}
.single:hover {
  border-left: 8px solid #4979ff;
}

.head {
  padding: 20px;
  margin-left: 10px;
}

.wrap {
  padding-left: 20px;
  margin-left: 20px;
}

.wrap > p {
  font-size: 1.2rem;
}

.details {
  font-weight: bold;
  margin-right: 15px;
  color: #4979ff;
}
